*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#quiz{
    padding: 10px 25%;
    /* width: 100px;
    height: 100px; */
}
#quiz #quiz1{
    width: 250px;
    height: 50px;
}
.row{
    display: flex;
    gap: 5%;
}
.col h5{
    color: rgb(163, 154, 154);
    padding-top: 10px;
    font-family: sans-serif;
    
    /* padding-left: 10px; */
}
.col label{
    padding: 10px;
    color: rgb(163, 154, 154);
    font-weight: bold;
}
.col input{
    width: 70%;
}
#file{
    width: 280px;
}
#btn{
    margin-top: 20px;
    padding: 10px 30px;
    font-weight: bolder;
    background-color: yellow;
    border: none;
    font-size: 18px;
    color: gray;
}
#hat{
    padding: 20% 5%;
    width: 500px;
    height: 500px;
}