*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
#landing{
    width: 100%;
    height: 15vh;
}
/* .nav-work{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
} */
 .active{
    padding: 0px 30px !important;
    font-size: 20px !important;
}
#btn{
    display: flex;
    gap: 30px;
}
.btn{
    background-color: yellowgreen !important;
    border: none !important;
    font-weight: bolder !important;
}
.btn1{
    background-color: yellow !important;
    border: 2px solid yellowgreen !important;
    color: yellowgreen !important;
    font-size: 20px !important;
    font-weight: bolder !important;
}
#landing-content{
    width: 100%;
    height: 85vh;
}
.btn2{
    padding: 12px 40px !important;
    font-size: 24px !important;
    background-color: yellowgreen !important;
}
.col h1{
    font-size: 55px;
    padding-top: 30px;
}
.col p{
    font-size: 20px;
    padding: 20px;
}
.landing-img{
    width: 425px !important;
    height: 415px !important;
    padding-top: 40px;
    padding-left: 20px !important;
}